<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="navbar-header">
      <!-- <a class="navbar-brand logo" href="#">{{ title }}</a> -->
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!-- <li>Name: </li>{{currentUser.name}} -->
        <li>Key: {{currentUserKey.$key}}</li>
        <li>Constitution: {{con}}</li>
        <li>Charm: {{charm}}</li>
        <li>Money: {{money}}</li>
        <li>Karma: {{karma}}</li>
        <li (click)= "displayUser()">click me</li>
      </ul>
    </div>
</nav>
